In [1]:
import pandas as pd

# Clean up the data and form new dataset

In [11]:
df = pd.read_csv('car_prices.csv', low_memory = False)

In [12]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,Unnamed: 16
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),NaN
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),NaN
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST),NaN
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST),NaN
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST),NaN

In [14]:
for col in df.columns:
    print(col)

year
make
model
trim
body
transmission
vin
state
condition
odometer
color
interior
seller
mmr
sellingprice
saledate
Unnamed: 16

In [20]:
new_df = df[["year", "make",'model','trim','body','transmission','state','condition','odometer','color','interior','sellingprice','saledate']]

In [22]:
new_df.to_csv('cleaned_car_price.csv')

In [35]:
model = 'Sorento'
model_df = df.loc[df['model'] == make]
year_model_df = model_df.loc[make_df['year'] == 2015]
year_model_df['sellingprice'].mean()

20339.476495726496

In [45]:
model = '3 Series'
model_df = df.loc[df['model'] == make]
year_model_df = model_df.loc[make_df['year'] == 2015]
year_model_state_df = year_model_df.loc[year_model_df['state'] == 'ca']
year_model_state_df['sellingprice'].mean()

21225.694444444445

In [44]:
new_df['odometer'].max()

999999.0

# plot relationship between some specific car versus every year, and do a prediction on the next 3 year's price

In [54]:
df = pd.read_csv('cleaned_car_price.csv', low_memory = False)

# change sale date to years

In [55]:
df.head()

,Unnamed: 0,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,sellingprice,saledate
0,0,2015,Kia,Sorento,LX,SUV,automatic,ca,5,16639.0,white,black,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,1,2015,Kia,Sorento,LX,SUV,automatic,ca,5,9393.0,white,beige,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [56]:
x = list(df['saledate'].str.strip())
print(type(x))

<class 'list'>

In [57]:
for i in range(len(x)):
    x[i] = x[i][11:15]
print(x[:100])

['2014', '2014', '2015', '2015', '2014', '2014', '2014', '2014', '2014', '2015', '2014', '2014', '2015', '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2015', '2015', '2014', '2014', '2015', '2014', '2015', '2015', '2014', '2014', '2014', '2015', '2014', '2014', '2014', '2015', '2014', '2015', '2015', '2015', '2015', '2014', '2015', '2014', '2014', '2014', '2014', '2015', '2014', '2014', '2014', '2014', '2014', '2014', '2015', '2014', '2015', '2014', '2014', '2014', '2015', '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2015', '2015', '2014', '2014', '2014', '2014', '2015', '2014', '2015', '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2015', '2014', '2014', '2014', '2015', '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014']

In [58]:
print(len(x))

558837

In [59]:
df['saledate'] = x

In [60]:
df

,Unnamed: 0,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,sellingprice,saledate
0,0,2015,Kia,Sorento,LX,SUV,automatic,ca,5,16639.0,white,black,21500,2014
1,1,2015,Kia,Sorento,LX,SUV,automatic,ca,5,9393.0,white,beige,21500,2014
2,2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,30000,2015
3,3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,27750,2015
4,4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,67000,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,33000,2015
558833,558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5,54393.0,white,black,30800,2015
558834,558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,34000,2015
558835,558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,11100,2015
558836,558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,26700,2015

In [61]:
df = df.rename(columns={'saledate': 'saleyear'})

In [62]:
df

,Unnamed: 0,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,sellingprice,saleyear
0,0,2015,Kia,Sorento,LX,SUV,automatic,ca,5,16639.0,white,black,21500,2014
1,1,2015,Kia,Sorento,LX,SUV,automatic,ca,5,9393.0,white,beige,21500,2014
2,2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,30000,2015
3,3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,27750,2015
4,4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,67000,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,33000,2015
558833,558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5,54393.0,white,black,30800,2015
558834,558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,34000,2015
558835,558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,11100,2015
558836,558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,26700,2015

In [63]:
# save new csv

In [67]:
df.to_csv('clean_car_price.csv', index = False)

In [68]:
df = pd.read_csv('clean_car_price.csv', low_memory = False)
df.head()

,Unnamed: 0,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,sellingprice,saleyear
0,0,2015,Kia,Sorento,LX,SUV,automatic,ca,5,16639.0,white,black,21500,2014.0
1,1,2015,Kia,Sorento,LX,SUV,automatic,ca,5,9393.0,white,beige,21500,2014.0
2,2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,30000,2015.0
3,3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,27750,2015.0
4,4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,67000,2014.0

In [53]:
# change car year - 1 to get actual car year

KeyError: "['Unnamed: 0.1'] not found in axis"