In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('train_model.csv', index_col=[0])
df = df.drop(columns=['make', 'model', 'trim', 'state'])
df.head()

,year,condition,odometer,sellingprice,saleyear,label,beige,black,blue,brown,...,interior_white,automatic,manual,Convertible,Coupe,SUV,Sedan,Van,Wagon,pick-up truck
0,2015,5.0,16639.0,21500,2014,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,2015,5.0,9393.0,21500,2014,0,0,0,0,0,...,1,1,0,0,0,1,0,0,0,0
2,2014,4.5,1331.0,30000,2015,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,2014,4.3,2641.0,67000,2014,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
5,2015,1.0,5554.0,10900,2014,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [7]:
Y = df.label
X = df.drop('label',axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, Y, train_size=0.7, test_size=0.3, random_state=100)